<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Parallel Test">
        <classes>
            <class name="UserLoginTest"/>
            <class name="UserSignupTest"/>
            <class name="CartTest"/>
            <class name="AddItemTest"/>
            <!-- Add more classes as needed -->
        </classes>
    </test>
</suite>